/* NOTES

COLORS
#B89E8E
#E9E1DD
#5F4F45
#F7F5F3
#BBD2B6
FONTS

/* font-family: 'Libre Baskerville', serif; */

@font-face {
  font-family: Amsterdam;
  src: url(/fonts/amsterdam.ttf);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; /* this enables smooth scrolling between internal links */
  overflow-x: hidden;
}

img {
  max-width: 100%; /* this ensures images never break their container */
  height: auto;
}

body {
font-family: 'Libre Baskerville', serif;
font-size: 1rem;
font-style: normal;
font-weight: 400;
text-align: center;
line-height: 2;
background-color: #E9E1DD;
overflow-x: hidden;

}

 /* this overrides the default padding and margin on gridlex elements */
[class*=grid] {   margin: 0;  }
[class*=col]  {   padding: 0; }

/* ------------- Utility Classes --------------  */

.left     {  text-align: left;     }
.right    {  text-align: right;    }
.center {  text-align: center;   }

.padded   {  padding: 5%;    }
.padded-1 {  padding: 1rem;  }
.padded-2 {  padding: 2rem;  }
.padded-sides {padding: 0% 5%;}
.padded-top-botton-left {padding: 0% 0% 0% 3%;}
.padded-bottom {padding-bottom: 5%; }
.padded-top {padding-top: 3% !important;}
.padded-left {padding: 5% 5% 5% 10%;}
.padded-s {padding: 1%;}

.padded-media-kit {padding-top: 10%;}

.padded-form-2 {padding: 5% 5% 2% 5%;}

.padded-blog {padding-top: 10%;}

.padded-top-contact {padding-top: 5%;}
.margin {margin: 10px;}
.margin-top {margin-top: 135px;}
.margin-shapes {  margin: 0px 15px 15px;}
.margin-sides {margin: 0px 15px;}
.margin-top-bottom {margin: 5% 0% 5% 0%;}
.margin-l {margin: 10%;}

.tall-30 {min-height: 30vh;}
.tall-50  {  min-height: 50vh;   }
.tall-100 {  min-height: 100vh;  }

.dark-bg      {  background-color: #B89E8E;     }
.light-bg     {  background-color: #F7F5F3; }
.featured-bg  {  background-color: #DDE8DA;    }
.split-bg {background: linear-gradient(90deg,#E9E1DD 185px,#B89E8E 50px);}
.beige-bg { background: #E9E1DD;}

.banner
  {
  background-size: cover;
  background-position: center;
  }

.contact
  {
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  }

.flex-flip:nth-child(2n){  flex-direction: row-reverse; }

.radius {border-radius: 500px 500px 0px 0px;}
.clove-radius {border-radius: 0px 300px;}
.circle {border-radius: 100%;}
.window {border-radius: 190px 190px 0px 0px;}

.bottom-radius
{border-radius: 240px 240px 240px 0px;}

.border {border: solid 1px #b89e8e;}

.border-blog
  {
  border-left: solid 1px #b89e8e;
  border-right: solid 1px #b89e8e;
  border-bottom: solid 1px #b89e8e;
  }


.circle img {max-width: 12rem;}

.bump {
  position: absolute;
  left: 110px;
  margin-top: 55px;
  z-index: 1;
}

.bump-up {
  transform: rotate(21.31deg);
  width: 323.32px;
  height: 169.24px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.bump-div {margin-top: -200px !important;}

.small-image
  {
  height: 531px;
  background-position: center;
  background-repeat: no-repeat;
  }

.smaller-image
  {
  width: 200px;
  }

.medium-image
  {
  min-height: 60vh;
  background-size: cover;
  background-position: center;
  }

.medium-image-mob
  {
  min-height: 40vh;
  background-size: cover;
  }

.cropped-background
  {
  height: 474px;
  top: 893px;
  }

hr {border-bottom: none;}
/* General typography */

h2, h3, h4, h5, h6
  {
  line-height: 1;
  margin-bottom: 0.8rem;
  font-weight: 400;
  }


h2, h3, h5 {color: #B89E8E;}
h4, h6 {color: #5F4F45;}

.blog h3
  {
  font-family: 'Libre Baskerville', serif;
  color: #5F4F45;
  font-size: 1.5rem;
  }

.libre h3 {font-family: 'Libre Baskerville', serif;}

.libre h1 {font-family: 'Libre Baskerville', serif;}


h2 {
  font-family: 'Libre Baskerville', serif;
  line-height: 60px;}


h1 {
  color: #5F4F45;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  }

h2 {
  font-size: 3.2rem;

  }

h3 {
  font-size: 1.8rem;
  }

h4 { font-size: 1.8rem;  }

h5, h6 {
  font-size: 1.2rem;
  line-height: 40px;
  }

p, a
  {
  font-family: 'Libre Baskerville', serif;
  font-size: 1rem;
  line-height: 40px;}


h1,h3,h4,h5,h6 {font-family: 'Amsterdam';}

p, ul {
  margin-bottom: 0.8rem;
  color: #5F4F45;
 }

a {color: #B89E8E;
   text-decoration: none;
  }

a:hover {color: #FDFAF0;}


.light-text {color: #E9E1DD; }
.amsterdam {font-family: 'Amsterdam';}
.featured-text {color: #B89E8E;}
/*

/* this makes sure that the last element in any container doesn't have margin-bottom */
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child {
  margin-bottom:0;
  }

.hero p {color: #B89E8E;}


/* header */

header.fixed {
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 2;
  margin:0;
  text-align: center;
}

.hamburger {
  top: 10px;
  right: 0;
  z-index: 10;
  font-size: 3rem;
  padding:0% 2%;
  border-radius: 0%;
  position: fixed;
  color: #FDFAF0;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  line-height: 8px;
  cursor: pointer;

}

.mobile-menu {
  position: fixed;
  top: 0;
  right:0;
  left:0;
  bottom: 0;
  padding: 30% 10% 10% 10%;
  z-index: 10;
  color: #c3a496;
  padding: 1.2rem;
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 2.5rem;
}

.circle-radius {background-image: radial-gradient(#B89E8E 65%, #FDFAF0 40%);}

.mobile-menu a {color: #FDFAF0;}

.mobile-menu a:hover {color: #5F4F45;}
.mobile-menu p:hover {color:#5F4F45;}


.cross {cursor: pointer;}

.mobile-menu {
  display: none;
}

.logo img {
  max-width: 15rem;
}

/* on scroll */
.reveal {
position: relative;
opacity: 0;
transition: 3s all ease;
}

.reveal.active {
opacity: 1;
}
/* ---------ANNIMATION--------- */

@keyframes fadeInLeft {
    from {
      transform: translateX(-50px);
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInRight {
    from {
      transform: translateX(50px);
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInLeft {
    opacity: 0
}

.animatedFadeInRight {
    opacity: 0
}

.fadeInLeft {
    opacity: 0;
    animation-name: fadeInLeft;
    -webkit-animation-name: fadeInLeft;
}

.fadeInRight {
    opacity: 0;
    animation-name: fadeInRight;
    -webkit-animation-name: fadeInRight;
}


.active.fade-up {animation: fade-up 1s ease-in;}

@keyframes fade-up {
  0%
    {
    transform: translateY(20px);
    opacity: 0;
    }
  100%
    {
    transform: translateY(0);
    opacity: 1;
    }
}


.active.fade-left {animation: fade-left 1s ease-in;}

.active.bump-up {animation: bump-up 1s ease-in;}

@keyframes fade-left {
  0%
    {
    transform: translateX(-50px);
    opacity: 0;
    }
  100%
    {
    transform: translateX(0);
    opacity: 1;
    }
}

.active.fade-right {animation: fade-right 1s ease-in;}

@keyframes fade-right {
  0%
    {
    transform: translateX(50px);
    opacity: 0;
    }
  100%
    {
    transform: translateX(0);
    opacity: 1;
    }
}

.textarea {
    min-height: 6rem;}

.relative {
    position: relative;}

.vertical-form-text {
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    position: absolute;
    white-space: nowrap;
    top: 60%;
    left: 50%;
}

.floating-input
  {
  position: relative;
  padding-top: 1rem;
  }

.enquiry input {font-family: 'Libre Baskerville', serif;}

input::placeholder {color: #5F4F45;}
textarea::placeholder {color: #5F4F45;}

.input-text
  {
  font-size: 1rem;
  line-height: 1.2;
  display: block;
  margin: 0;
  width: 100%;
  border: none;
  border-bottom: 2px solid #5F4F45;
  transition: all .5s;
  padding: .7rem 0 .5rem;
  background-color: #E9E1DD;
  font-family: 'Libre Baskerville', serif;
  }

.input-label
  {
  display: none;
  }

.input-text:placeholder-shown+.input-label
  {
  visibility: hidden;
  z-index: -1;
  }

input[type=submit]
  {
  width: auto;
  display: block;
  }

.button-solid
  {
  background-color: #E9E1DD;
  color: #B89E8E;
  border: 1px solid #B89E8E;
  padding: .8rem 2rem .6rem;
  }

.button-solid-inverted
  {
  background-color: #B89E8E;
  color: #E9E1DD;
  border: 1px solid #B89E8E;
  padding: .8rem 2rem .6rem;
  font-size: 1.3rem;
  }

.button
  {
  background-color: transparent;
  border: 1px solid #B89E8E;
  padding: .8rem 2rem .6rem;
  }

.button:hover {border: 1px solid #FDFAF0;}

.button-solid:hover
  {
  background-color: #B89E8E;
  color: #E9E1DD;
  border: 1px solid #E9E1DD;
  }

.shop-button
  {
  position: fixed;
  z-index: 10;
  }


element.style {display: none;}


input,
textarea,
select,
option
  {
  border-style: solid;
  padding: 0.8em;
  display: block;
  width: 100%;
  font-size: 1rem;
  vertical-align: top;
  font-family: 'Libre Baskerville', serif;
  background-color: transparent;
  border: none;
  color: #5F4F45;
  }
select {padding: 0.7rem 0 0.5rem}

.input-text:focus {border-color:  #B89E8E;}

input:focus, textarea:focus
  {outline: 0;}


/* BLOG   */

.blog-loop .blog-item
  {
  color: inherit;
  text-decoration: none;
  width: 100%;
  margin: 0;
  display: block;
  }

.blog-masonry
  {
  columns: 3;
  column-gap: 1rem;
  }

.blog-masonry .masonry-item
  {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid-column;
  }

.blog-banner-mobile h1 {font-size: 1.7rem;}

.blog
  {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  }

.blog-fixed-banner
  {
  background-size: cover;
  background-position: center;
  min-height: 70vh;
  background-attachment: fixed;
  }

.hover-container {
  background-size: cover;
  background-position: center;
  min-height: 320px;
}

.blog h1 {font-size: 1.5rem;}

.beige-text h1 {color: #B89E8E;}

.shape-window
  {
  border-top-left-radius: 20rem;
  border-top-right-radius: 20rem;
  }

.blog-images
  {
  background-size: cover;
  background-position: center;
  min-height: 60vh;
  margin: 0% 1%;
  }

.blog-image-window
  {
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  }

.category-bar
  {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  border-top: 1px solid #B89E8E;
  border-bottom: 1px solid #B89E8E;
  margin: 1rem auto;
  text-align: center;
  white-space: nowrap;
  }

.category-bar .category
  {
  padding: 1rem;
  white-space: nowrap;
  }

.scroll::-webkit-scrollbar {
    height: 4px;
}

.scroll::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 2px 0 rgb(0 0 0 / 21%);
}

.category
  {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: .8rem;
  white-space: nowrap;
  }

.capped-width
  {
  max-width: 1000px;
  margin: auto;
  }
.capped-width {width: 100%;}


.social-share
  {
  position: fixed;
  left: 2rem;
  top: 35vh;
  z-index: 2;
  }

.social-share h4
  {
  transform: rotate(270deg);
  position: relative;
  top: 1.8rem;
  font-size: .9rem;
  letter-spacing: 1px;
  font-weight: 600;
  }

.gallery
  {
  line-height:0;
  -webkit-column-count:5; /* split it into 5 columns */
  -webkit-column-gap:5px; /* give it a 5px gap between columns */
  -moz-column-count:5;
  -moz-column-gap:5px;
  column-count:5;
  column-gap:5px;
  }

.gallery
  {
  margin:5px; /* to match column gap */
  }

.img-1
  {
  padding-bottom:110%;
  background-size: cover;
  background-position: center;
  border-top: solid 5px white;
  border-left: solid 5px white;
  }

.img-2
    {
    padding-bottom:50%;
    background-size: cover;
    background-position: center;
    border-top: solid 5px white;
    border-bottom: solid 5px white;
    border-left: solid 5px white;
    }

.img-3
  {
  padding-bottom:50%;
  background-size: cover;
  background-position: center;
  border-left: solid 5px white;
  border-top: solid 5px white;

  }

.img-4
  {
  padding-bottom:110%;
  background-size: cover;
  background-position: center;
  border-top: solid 5px white;
  border-bottom: solid 5px white;
  border-left: solid 5px white;
  }

.img-5
  {
  padding-bottom:100%;
  background-size: cover;
  background-position: center;
  border-top: solid 5px white;
  border-right: solid 5px white;
  border-left: solid 5px white;
  }

.img-6
  {
  border: solid 5px white;
  padding-bottom:60%;
  background-size: cover;
  background-position: center;
  }

.socials a
  {
  color: #B89E8E;
  font-size: 2.7rem;
  }

  .socials a:hover
    {
    color: #5F4F45;
    }

.built {padding: 2%;}
.built p {
  font-size: 0.8rem;
  color: #c3a496;
  }

.desktop-hide {display: none;}
.desktop-hide-blog {display: none;}

/* visual editor   */
/*
.editor-content {
  display: none;
}

.cms-editor-active .editor-content {
  display: block;
} */

@media (max-width: 1290px)  {

.bump {
  left: 60px;
  margin-top: 20px;
  z-index: 1;
}
}

@media (max-width: 1085px)  {

.bump {
  left: 35px;
  margin-top: 20px;
  z-index: 1;
}
}

@media(max-width:768px) {

.margin-top {margin-top: 90px;}

.desktop-hide-blog {display: inline;}
.desktop-hide-arches {display: inline;}
.mob-hide {display: none;}

h1 {font-size: 1.5rem;}

/* BLOG */
.blog h2 {font-size: 1.5rem;}

.blog-fixed-banner
  {
  background-attachment: scroll;
  }

.blog-masonry
  {
  columns: 2;
  column-gap: 1rem;
  }

.blog-image-left
  {
  border-radius: 0%;
  margin-top: 3%;
  transform: rotate(-1deg);
  box-shadow: 0.5px 1px 2px;
  }

.blog-image-right {
    transform: rotate(1deg);
    box-shadow: 0.5px 1px 2px;
}

/* BLOG END */
h3 {font-size: 1.3rem;}

.hamburger
  {
  margin: 1%;
  top: -17px;
  }

.clove-radius {  border-radius: 0px 200px;}

.medium-image
  {
  margin-bottom: -0rem;
  }

/* GALLERY */

.img-3
  {
  border-right: solid 5px white;
  }

.img-4
  {
  border-right: solid 5px white;
  }

/* MEDIA KIT */
.padded-media-kit {padding-top: 15%;}

/* .bump {
  position: absolute;
  left: 110px;
  margin-top: 55px;
  z-index: 1;
} */

.bump-up {
  height: 0px;
  margin-left: 260px;
  margin-bottom: 60px;}

.bump-div {
    margin-top: -125px !important;
}

.padded-top-contact {padding-top: 8%;}

  .input-text {
    font-size: 1rem;
    line-height: 1;
    padding: .5rem 0 .5rem;
    }

/* BLOG */

.blog-images {min-height: 40vh;}


  .vertical-form-text {
    position: absolute;
    white-space: nowrap;
    top: 9rem;
    left: 0rem;
    }

.socials a {font-size: 1.9rem;}
.fb {padding: 8px 24px;}
.ig {padding: 8px 16px;}
.tt {padding: 8px 15px;}
.yt {padding: 8px 15px;}
.padded-top-botton-left {padding: 5% 0%;}

}

@media(max-width:576px) {

.hamburger
  {
  right: 5px;
  margin: 1% 4%;
  top: -17px;
  }

h1 {font-size: 1.5rem;}
h2 {font-size: 2.2rem;}

.split-bg h2 {    font-size: 3.2rem;}
.amsterdam {line-height: 3;}

.clove-radius {
    border-radius: 0px 125px;
}

.bump-div {
    margin-top: -100px !important;
}

.bump-up {height: 0px;
margin-left: 10px;
margin-bottom: 0px;}

.padded-review {padding: 0% 8%;}

.padded-top-contact {padding-top: 28%;}


/* FORM */
.floating-input {
      padding-top: 1rem;
      margin-bottom: 1.5rem;
    }

.input-text
  {
  font-size: 0.8rem;
  }

.input-label
  {
  font-size: .8rem;
  }

  input,
  textarea,
  select,
  option
    {
    font-size: 0.8rem;
    }


.vertical-form-text
  {
  margin: -3%;
  }

/* BLOG */

.blog-masonry
  {
  columns: 1;
  column-gap: 1rem;
  }

.category-bar
  {
  justify-content: flex-start;
  }

/* MEDIA KIT   */

.padded-media-kit {padding-top: 28%;}



.social-share h4
  {
  transform: rotate(270deg);
  position: relative;
  left: -.5rem;
  top: 1.8rem;
  }

.socials a {font-size: 1.5rem;}
.fb {padding: 5px 17px;}
.ig {padding: 5px 11px;}
.tt {padding: 5px 10px;}
.yt {padding: 5px 10px;}
.desktop-hide {display: inline;}
.desktop-hide-arches {display: none;}
} /* end media query */
