<section class="light-bg left">
  <article class="capped-width padded">
    <div class="editable">
      <p><strong>1. LOCATION:</strong></p>
      <p>Meteora is located in <strong>Thessaly (Thessal&iacute;a)</strong>, Greece. The monasteries are located not far from the small town of Kalamb&aacute;ka, and the village of Kastraki.</p>
      <p><strong>2. MEANING OF METEORA:</strong></p>
      <p>The name was derived from a Greek contraction meaning &ldquo;suspended in the air.&rdquo; Meteora gets its name from the monasteries that sit high atop the stone pillars.</p>
    </div>
  </article>
</section>
