<section class="grid padded-sides padded-bottom projects-background_color featured-bg banner" style="background-image: url('{{item.background_image}}');">
  <div class="col-12 center" id="{{item.link.link}}">
    <h2 class="padded">{{item.heading}}</h2>
  </div>
  <div class="grid-center col-4_sm-12">
    <div class="col-12 padded">
      <div class="small-image radius " style="background-image: url('{{item.first-project.image}}');">
      </div>
    </div>
    <div class="col-12 padded">
      <div class="light-bg projects-text-background_color padded">
          <h3 class="">{{item.first-project.subheading}}</h3>
          <p class="">{{item.first-project.textarea}}</p>
      </div>
    </div>
  </div>
  <div class="grid-center col-4_sm-12 dark-bg radius">
    <div class="col-12 padded">
      <div class="small-image radius " style="background-image: url('{{item.second-project.image}}');">
      </div>
    </div>
    <div class="col-12 padded">
      <div class="light-bg projects-text-background_color padded">
          <h3 class="">{{item.second-project.subheading}}</h3>
          <p class="">{{item.second-project.textarea}}</p>
      </div>
    </div>
  </div>
  <div class="grid col-4_sm-12">
    <div class="col-12 padded">
      <div class="small-image radius " style="background-image: url('{{item.third-project.image}}');">
      </div>
    </div>
    <div class="col-12 padded">
      <div class="light-bg projects-text-background_color padded">
          <h3 class="">{{item.third-project.subheading}}</h3>
          <p class="">{{item.third-project.textarea}}</p>
      </div>
    </div>
  </div>
</section>
