<section class="grid-center carousel-background_color featured-bg banner" style="background-image: url('{{item.background_image}}');">
  <div class="col-12 padded-bottom" id="{{item.link.link}}">
    <h2>{{item.heading}}</h2>
  </div>

  <div class=" col-12 padded-sides grid-center one-time">
    {% for carousel in item.carousel %}
    <div class="grid-center centered">
      <div class="col-12-middle padded-review">
        <hr />
        <p>{{carousel.textarea}} <br />
        <span> {{carousel.symbols}} </span>
        </p>
        <p class="centered"> {{carousel.ending}} </p>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
