<section class="grid padded banner" id="{{item.link.link}}">

  <div class="col-1">

  </div>
  <div class="col-4_sm-8_xs-12 bottom-radius medium-image center reveal fade-left " style="background-image: url('{{item.image}}');">

  </div>
    <div class="grid-center col-4_xs-hidden desktop-hide-arches reveal fade-left ">

  </div>
  <div class="col-7_sm-12 center padded-top-botton-left reveal fade-right" id="{{page.links.image-and-textarea}}">
    <h1 class="featured-text">{{item.heading}}</h1>
    <p class="">{{item.textarea}}</p>
  </div>
</section>
