<section class="grid padded banner" id="{{item.link.link}}">

  <div class="col-1 grid-middle socials">
      <a  href="{{item.social-media-links.instagram}}" class="reveal padded centered fade-left margin-top-bottom col-12 "><span class="iconify" data-icon="ph:instagram-logo-fill"></span></a>
      <a href="{{item.social-media-links.tiktok}}" class="reveal padded fade-left margin-top-bottom col-12"><span class="iconify" data-icon="simple-icons:tiktok"></span></a>
      <a href="{{item.social-media-links.facebook}}" class="reveal padded fade-left margin-top-bottom col-12 "><span class="iconify" data-icon="brandico:facebook"></span></a>
      <a href="{{item.social-media-links.twitter}}" class="reveal padded fade-left margin-top-bottom col-12 "><span class="iconify" data-icon="bi:twitter"></span></a>
    </div>
  <div class="col-4_sm-11 bottom-radius medium-image center reveal fade-left " style="background-image: url('{{item.image}}');">

  </div>
  <div class="col-7_sm-12 padded-top-botton-left reveal fade-right" id="{{page.links.image-and-textarea}}">
    <h1 class="featured-text">{{item.heading}}</h1>
    <p class="featured-text left">{{item.textarea_html}}</p>
  </div>
</section>
