<section class="padded grid-center form-background_color featured-bg banner" style="background-image: url('{{item.background_image}}');">
  <form method="post" action="/success.html" class="enquiry col-12 grid-center capped-width">
  <div class="light-bg form-arche-background_color col-8_md-9_sm-12 padded radius " style="background-image: url('{{item.arch-background_image}}');" id="{{item.link.link}}">
    <h2 class="reveal fade-up">{{item.heading}}</h2>
      <div class="grid padded-sides">
      <div class="col-1_sm-12 relative reveal fade-left">
        <h3 class="sm-bold vertical-form-text "> {{item.top.vertical-subheading}}</h3>
      </div>

      <div class="col-10_sm-12 form-padded">
        <div class="floating-input ">
          <input type="text" name="{{item.top.text-option-1}}" placeholder="{{item.top.text-option-1}}" class=" input-text form-text_color" required="" />
          <label class="input-label">{{item.top.text-option-1}}</label>
        </div>

        <div class="floating-input ">
          <input type="text" name="{{item.top.text-option-2}}" placeholder="{{item.top.text-option-2}}" class="input-text form-text_color" required="" />
          <label class="input-label">{{item.top.text-option-2}}</label>
        </div>

        <div class="floating-input ">
          <input type="text" name="{{item.top.text-option-3}}" placeholder="{{item.top.text-option-3}}" class="input-text form-text_color" />
          <label class="input-label">{{item.top.text-option-3}}</label>
        </div>

      </div>
    </div>
    <div class="grid padded-sides">

      <div class="col-1_sm-12 relative reveal fade-left">
        <h3 class="sm-bold vertical-form-text">{{item.bottom.vertical-subheading}} </h3>
      </div>

      <div class="col-10_sm-12 form-padded form-text_color">
        <div class="floating-input ">
          <textarea name="{{item.bottom.message}}" placeholder="{{item.bottom.message}}" class="input-text form-text_color"></textarea>
          <label class="input-label">{{item.bottom.message}}</label>
        </div>

        <div class="floating-input input-text input-text r">
          <select name="services " id="services" required="">
            <option class="input-text form-text_color">{{item.option-box.subheading}}</option>
            <option class="input-text form-text_color" value="{{item.option-box.option-1}}">{{item.option-box.option-1}}</option>
            <option class="input-text form-text_color" value="{{item.option-box.option-2}}">{{item.option-box.option-2}}</option>
            <option class="input-text form-text_color" value="{{item.option-box.option-3}}">{{item.option-box.option-3}}</option>
            <option class="input-text form-text_color" value="{{item.option-box.option-4}}">{{item.option-box.option-4}}</option>
          </select>
        </div>
        </div>
      </div>
      <div class="padded grid-center">
        <input type="hidden" name="inbox_key" value="explore-template">
        <input type="text" name="_gotcha" style="display: none;" />
        <input type="submit" value="Send Message" class="center button-solid button_color button-text_color" />
      </div>
    </div>
  </form>
</section>
