<section class="grid-center padded">
  <div class="col-4_sm-6 grid gallery centered">
    <div class="img-1 col-12" style="background-image:url('{{item.1_image}}')"></div>
    <div class="img-2 col-12" style="background-image:url('{{item.2_image}}')"></div>
  </div>
  <div class="col-4_sm-6 grid gallery centered">
    <div class="img-3 col-12" style="background-image:url('{{item.3_image}}')"></div>
    <div class="img-4 col-12" style="background-image:url('{{item.4_image}}')"></div>
  </div>
  <div class="col-4_sm-hidden grid gallery centered">
    <div class="img-5 col-12" style="background-image:url('{{item.5_image}}')"></div>
    <div class="img-6 col-12" style="background-image:url('{{item.6_image}}')"></div>
  </div>
</section>
