<section class="grid padded-sides image-and-text-background_color light-bg banner" style="background-image: url('{{item.background_image}}');" id="{{item.link.link}}">
  <div class="col-4_sm-8_xs-12 bottom-radius medium-image center reveal fade-left " style="background-image: url('{{item.image}}');">

  </div>
    <div class="grid-center col-4_xs-hidden desktop-hide-arches reveal fade-left ">

    <div class="col-10 radius margin-shapes medium-image-mob center" style="background-image: url('{{item.tablet_images.top_image}}');">
    </div>

    <div class="col-10  margin-sides medium-image-mob center" style="background-image: url('{{item.tablet_images.bottom_image}}');">
    </div>

  </div>
  <div class="col-8_sm-12 center padded-top-botton-left reveal fade-right" id="{{page.links.image-and-textarea}}">
    <h2 class="">{{item.heading}}</h2>
    <p class="">{{item.textarea}}</p>
  </div>
</section>
