<section class="grid padded-top padded-bottom" id="{{item.link.link}}">
  <div class="col-5_sm-12 grid-middle bump-div">
    <div class="col-7_sm-4 padded bump-up reveal fade-left ">
    <img src="{{item.images.top_image}}" alt="{{item.images.alt}}">

    </div>
    <div class="col-12_sm-hidden small-image center reveal fade-left bump " style="background-image: url('{{item.images.bottom_image}}');">

    </div>
  </div>

  <div class="col-7_sm-12 left light-bg reveal grid fade-right" id="{{page.links.image-and-textarea}}">
    <div class="split-bg col-12 padded-1">
      <h2 class="">{{item.dark-heading_html}} <span class="light-text ">{{item.light-heading_html}}</span></h2>
    </div>
    <div class="col-12 padded-left ">
      <p class="">{{item.1-textarea_html}}</p>
      <h6>{{item.quote_html}}</h6>
      <p>{{item.2-textarea_html}}</p>
      <h1 class="right">{{item.large-text_html}}</h1>
    </div>
  </div>
</section>
