<section class="grid-center padded-sides circle banner">
  <div class="col-12 center" id="{{item.link.link}}">
    <h2 class="padded amsterdam">{{item.heading_html}}</h2>
  </div>
  <div class="grid-center col-4_sm-12">
    <div class="col-12 padded-sides">
      <img class="circle " src="{{item.first-project.image}}" alt="">
    </div>
    <div class="col-12 padded-sides">
      <div class=" padded">
          <h6 class="">{{item.first-project.subheading_html}}</h6>
          <p class="">{{item.first-project.textarea_html}}</p>
      </div>
    </div>
  </div>
  <div class="grid-center col-4_sm-12">
    <div class="col-12 padded-sides">
      <img class="circle " src="{{item.second-project.image}}" alt="">
    </div>
    <div class="col-12 padded-sides">
      <div class="padded">
          <h6 class="">{{item.second-project.subheading_html}}</h6>
          <p class="">{{item.second-project.textarea_html}}</p>
      </div>
    </div>
  </div>
  <div class="grid-center col-4_sm-12">
    <div class="col-12 padded-sides">
      <img class="circle " src="{{item.third-project.image}}" alt="">
    </div>
    <div class="col-12 padded-sides">
      <div class=" padded">
          <h6 class="">{{item.third-project.subheading_html}}</h6>
          <p class="">{{item.third-project.textarea_html}}</p>
      </div>
    </div>
  </div>
  <div class="col-12 grid-center padded-top"> <a class="button-solid-inverted col-3_sm-9" href="#">{{item.cta_html}}</a></div>
</section>
