<section class=" padded-bottom padded-sides grid-center blog" style="background-image: url('{{item.background_image}}');">
  <div class="col-5_sm-8_xs-12 border-blog">
    <h2 class="amsterdam padded margin-l editable"> {{item.heading}}</h2>
  </div>
  <div class="col-7_sm-8_xs-12 ">
    <p class="featured-text padded editable"> {{item.textarea}}</p>
  </div>
  <div class="blog-loop blog-masonry padded-1">
    {% for post in site.posts limit:3 %}
      <div class="masonry-item padded">
          <a class=" " href="{{post.url}}">
            <div class=" hover-container window" style="background-image:url('{{post.blog_image}}')">
              <div class="hover-overlay">
              </div>
            </div>
            <div class="featured-bg padded">
              <h3 class=""> {{post.title}} </h3>
              <p>{{post.blog-summary}}</p>
              <p class="featured-text">{{post.cta}}</p>
            </div>
        </a>
      </div>
    {% endfor %}
  </div>
</section>
