---
layout: default
---

<section class="padded-top-contact">
  <div class="libre beige-text">
    <h1 class="center padded-top">{{page.heading}}</h1>
  </div>
  <div class="category-bar scroll">
    <a href="/blogs" class="category"> All </a>
    <a href="/recent-blogs" class="category editable"> Recent </a>
    <a href="/travel-blogs" class="category editable"> Travel </a>
    <a href="/tips-and-tricks-blogs" class="category editable"> Tips & Tricks </a>
    <a href="/places-to-stay-blogs" class="category editable"> Places to Stay </a>
  </div>
</section>

<section class=" padded-bottom padded-sides grid-center blog">
  {{content}}
</section>
