<!DOCTYPE html>
<html>
  <body>
    <head>

      <!-- Meta Data -->
        <meta charset="utf-8" />

        <!-- Meta data for SEO purposes. -->
        <title> {{page.seo.title}} </title>
        <meta name="description" content="{{page.seo.description}}" />
        <meta name="keywords" content="{{page.seo.keywords}}" />

        <!-- meta data to tell the browser that your devide is responsive -->
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="robots" content="index, follow" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="default" />

        <!--  Social media sharing META Tags -->
        <meta property="og:title" content="{{page.seo.title}}" />
        <meta property="og:description" content="{{page.seo.description}}" />
        <meta property="og:image" content="{{ page.seo.social-share_image }}" />
        <meta property="og:url" content="{{page.seo.url}}" />
        <meta name="twitter:card" content="{{page.seo.description}}" />
        <meta name="og:site_name" content="{{page.seo.title}}" />

        <!-- twitter card -->
        <meta name="twitter:card" content="{{page.seo.description}}" />
        <meta name="twitter:description" content="{{page.seo.description}}" />
        <meta name="twitter:title" content="{{page.seo.title}}" />
        <meta name="twitter:site" content="{{page.seo.url}}" />
        <meta name="twitter:creator" content="{{page.seo.title}}" />
        <meta name="twitter:image:alt" content="{{ page.seo.social-share_image }}" />

      <!-- GOOGLE FONTS -->
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap" rel="stylesheet" />


        <!-- Viewport meta tag -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Gridlex -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css" />

        <!-- iconify icons -->
        <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>

        <!-- link to browser icon tag -->
        <link rel="icon" href="{{site.data.general.basics.browser-tag_image}}" type="image/x-icon" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{site.data.general.basics.browser-tag_image}}" />
        <link rel="icon" type="image/x-icon" sizes="32x32" href="{{site.data.general.basics.browser-tag_image}}" />
        <link rel="icon" type="image/x-icon" sizes="16x16" href="{{site.data.general.basics.browser-tag_image}}" />
        <link rel="manifest" href="/site.webmanifest" />

        <!-- styles -->
        <link rel="stylesheet" href="/styles.css" />
    </head>

      <header class="grid-center dark-bg fixed ">
        <div class="col-12 centered logo">
          <a href="/">
            <img src="{{site.data.general.basics.logo_image}}" alt="{{site.data.general.basics.logo-alt}}" />
          </a>
        </div>
          <p class=" col-1-middle hamburger editable">
            _<br />_<br />_
          </p>

          <nav class="grid-middle page-nav mobile-menu circle-radius ">
              <p class="cross exit right">
                ╳
              </p>
              <div class="padded-top-nav  ">
                <a href="/" class="logo center grow exit"> <img src="{{site.data.general.basics.logo_image}}" alt="{{site.data.general.basics.logo-alt}}" /> </a>
                <div class="editable">
                  <p><a class="padded-sides text-med exit" href="/blogs">blog</a></p>
                  <p><a class="padded-sides text-med exit" href="/#about">about</a></p>
                  <p><a class="padded-sides text-med exit" href="/#services">services</a></p>
                  <p><a class="padded-sides text-med exit" href="/#story">our story</a></p>
                  <p><a class="padded-sides text-med exit" href="/contact">contact</a></p>
                  <p><a class="padded-s centered  margin-top-bottom col-12 " href="{{site.data.general.social-links.instagram}}"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" preserveaspectratio="xMidYMid meet" viewbox="0 0 256 256" class="iconify" data-icon="ph:instagram-logo-fill" style="vertical-align: -0.125em; transform: rotate(360deg);">
                        <path fill="currentColor" d="M160 128a32 32 0 1 1-32-32a32.1 32.1 0 0 1 32 32Zm68-44v88a56 56 0 0 1-56 56H84a56 56 0 0 1-56-56V84a56 56 0 0 1 56-56h88a56 56 0 0 1 56 56Zm-52 44a48 48 0 1 0-48 48a48 48 0 0 0 48-48Zm16-52a12 12 0 1 0-12 12a12 12 0 0 0 12-12Z" />
                      </svg></a> <a class=" padded-s  margin-top-bottom col-12" href="{{site.data.general.social-links.tiktok}}"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" preserveaspectratio="xMidYMid meet" viewbox="0 0 24 24" class="iconify" data-icon="simple-icons:tiktok" style="vertical-align: -0.125em; transform: rotate(360deg);">
                        <path fill="currentColor" d="M12.525.02c1.31-.02 2.61-.01 3.91-.02c.08 1.53.63 3.09 1.75 4.17c1.12 1.11 2.7 1.62 4.24 1.79v4.03c-1.44-.05-2.89-.35-4.2-.97c-.57-.26-1.1-.59-1.62-.93c-.01 2.92.01 5.84-.02 8.75c-.08 1.4-.54 2.79-1.35 3.94c-1.31 1.92-3.58 3.17-5.91 3.21c-1.43.08-2.86-.31-4.08-1.03c-2.02-1.19-3.44-3.37-3.65-5.71c-.02-.5-.03-1-.01-1.49c.18-1.9 1.12-3.72 2.58-4.96c1.66-1.44 3.98-2.13 6.15-1.72c.02 1.48-.04 2.96-.04 4.44c-.99-.32-2.15-.23-3.02.37c-.63.41-1.11 1.04-1.36 1.75c-.21.51-.15 1.07-.14 1.61c.24 1.64 1.82 3.02 3.5 2.87c1.12-.01 2.19-.66 2.77-1.61c.19-.33.4-.67.41-1.06c.1-1.79.06-3.57.07-5.36c.01-4.03-.01-8.05.02-12.07z" />
                      </svg></a> <a class="padded-s  margin-top-bottom col-12 " href="{{site.data.general.social-links.facebook}}"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="0.49em" height="1em" preserveaspectratio="xMidYMid meet" viewbox="0 0 486.037 1000" class="iconify" data-icon="brandico:facebook" style="vertical-align: -0.125em; transform: rotate(360deg);">
                        <path fill="currentColor" d="M124.074 1000V530.771H0V361.826h124.074V217.525C124.074 104.132 197.365 0 366.243 0C434.619 0 485.18 6.555 485.18 6.555l-3.984 157.766s-51.564-.502-107.833-.502c-60.9 0-70.657 28.065-70.657 74.646v123.361h183.331l-7.977 168.945H302.706V1000H124.074" />
                      </svg></a> <a class="padded-s margin-top-bottom col-12 " href="{{site.data.general.social-links.twitter}}"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="1em" height="1em" preserveaspectratio="xMidYMid meet" viewbox="0 0 16 16" class="iconify" data-icon="bi:twitter" style="vertical-align: -0.125em; transform: rotate(360deg);">
                        <path fill="currentColor" d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334c0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518a3.301 3.301 0 0 0 1.447-1.817a6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429a3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218a3.203 3.203 0 0 1-.865.115a3.23 3.23 0 0 1-.614-.057a3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" />
                      </svg></a> </p>
                </div>
              </div>
          </nav>

      </header>

    {{content}}

    {% for item in page.content-blocks %}
    <div class="cms-editor-link" data-cms-editor-link="cloudcannon:#content-blocks[{{ forloop.index0 }}]">
        <span class="cms-editor-button"></span>
      {% include {{item._section-type}}.html %}
    {% endfor %}

    <footer class="grid-center padded-top">
      <div class="col-4">
        <a href="/">Explore</a>

      </div>
      <div class="col-4">
        <a href="/blogs">Blog</a>

      </div>
      <div class="col-4">
        <a href="/contact">Contact</a>

      </div>

    <!-- LightWidget WIDGET --><script src="https://cdn.lightwidget.com/widgets/lightwidget.js"></script><iframe src="//lightwidget.com/widgets/9c270b66efb755699412701cf189382b.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width:100%;border:0;overflow:hidden;"></iframe>
    </footer>


    <div class="col-12-middle center built">
        <p> <a href="https://www.kingcode.uk" class="padded-sides"> Website by King Code </a> x <br class="desktop-hide" /><a href="https://www.candyandtheking.com" class="padded-sides">  Candy and the King </a>
        <a href="/" class="padded-right"> © {{site.data.general.basics.your-brand-name}}</a>
        </p>
      </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

      <script src="/main.js" type="text/javascript"></script>

  </div></body>
</html>
