---
layout: default
---

<section class="grid-right banner padded-blog padded-bottom padded-sides bg-image-blog tall-100 grid center" style="background-image: url('{{page.blog_image}}');">
  <div class="social-share mob-hide">

  <nav>
      <p>
        <a href="#{{page.url}}" rel="nofollow" target="_blank" title="Share on Twitter">
          <span class="iconify" data-icon="akar-icons:twitter-fill"></span>
        </a>
      </p>
      <p>
      <a href="#{{page.url}}" rel="nofollow" target="_blank" title="Share on Facebook">
        <span class="iconify" data-icon="brandico:facebook"></span>
      </a>
      </p>
      <p>
        <a href="#{{page.url}}" rel="nofollow" target="_blank" title="Share on Pinterest">
      <span class="iconify" data-icon="fa-brands:pinterest-p"></span>
      </a>
      </p>
  </nav>

  <h4> Share </h4>
</div>
  <div class="col-4_sm-7_xs-10-bottom beige-bg">
    <div class="banner-inner grid margin-bottom-2">
      <div class="col-12 left">
          <p class="margin-top-1 margin-bottom-1">{{page.date | date_to_long_string }} </p>
      </div>
    <div class="col-12 libre blog">
      <h1 class="centered"> {{page.title}} </h1>
      <p class="date right"> {{page.author}} </p>
     </div>
   </div>
 </div>
</section>

<section class="grid desktop-hide-blog beige-bg blog-banner-mobile">
    <div class="mob-social-share col-12">
      <h4> Share
        <a class="padded " href="#{{page.url}}" rel="nofollow" target="_blank" title="Share on Twitter">
          <span class="iconify" data-icon="akar-icons:twitter-fill"></span>
        </a>
      <a class="padded " href="#{{page.url}}" rel="nofollow" target="_blank" title="Share on Facebook">
        <span class="iconify" data-icon="brandico:facebook"></span>
      </a>
        <a class="padded " href="#{{page.url}}" rel="nofollow" target="_blank" title="Share on Pinterest">
      <span class="iconify" data-icon="fa-brands:pinterest-p"></span>
      </a>

    </h4>
    </div>
</section>

<section class="light-bg">
    {% for item in posts.content-blocks %}
    <div class="cms-editor-link" data-cms-editor-link="cloudcannon:#content-blocks[{{ forloop.index0 }}]">
        <span class="cms-editor-button"></span>
      {% include {{item._section-type}}.html %}
    {% endfor %}
</section>
