---
layout: default
---


<section class="grid-right banner padded-top padded-sides bg-image-blog tall-100 grid center" style="background-image: url('{{page.blog_image}}');">
  <div class="social-share mob-hide">

  <nav>
      <p>
        <a href="https://twitter.com/intent/tweet?https://movingmoran.com/{{page.url}}" rel="nofollow" target="_blank" title="Share on Twitter">
          <i class="fab fa-twitter"></i>
        </a>
      </p>
      <p>
      <a href="https://facebook.com/sharer.php?u=https://movingmoran.com/{{page.url}}" rel="nofollow" target="_blank" title="Share on Facebook">
          <i class="fab fa-facebook-f"></i>
      </a>
      </p>
      <p>
        <a href="http://pinterest.com/pin/create/link/?https://movingmoran.com/{{page.url}}" rel="nofollow" target="_blank" title="Share on Pinterest">
        <i class="fab fa-pinterest-p"></i>
      </a>
      </p>
  </nav>

  <h4> Share </h4>
</div>
  <div class="col-5_sm-7_xs-10-bottom mob-hide">
    <div class="banner-inner grid margin-bottom-2">
      <div class="col-4 left mob-hide">
          <p class="margin-top-1 margin-bottom-1"> ↟↟↟ </p>
      </div>
    <div class="col-8 right">
      <span class="date"> {{page.author}} </span> | <span class="category">{{page.type}}</span>
    </div>
    <div class="col-12">
      <h1 class="centered"> {{page.title}} </h1>
      <p class="date left"> {{page.date | date_to_long_string }} </p>
     </div>
   </div>
 </div>
</section>

<section class="grid padded desktop-hide featured-bg blog-banner-mobile">
  <div class="grid padded-1">
    <h1 class="col-12"> {{page.title}} </h1>
    <div class="col-12 grid">
      <p class="date col-5 left">  {{page.author}}</p>  <p class="col-2 center">|</p>  <p class="date col-5  right"> {{page.date | date_to_long_string }}</p>
      <p class="col-12"> ↟↟↟ </p>
    <div class="mob-social-share col-12">
      <h4 class=""> Share


      <a class="padded" href="https://twitter.com/intent/tweet?https://movingmoran.com/{{page.url}}" rel="nofollow" target="_blank" title="Share on Twitter">
          <i class="fab fa-twitter"></i>
      </a>
      <a class="padded" href="https://facebook.com/sharer.php?u=https://movingmoran.com/{{page.url}}" rel="nofollow" target="_blank" title="Share on Facebook">
          <i class="fab fa-facebook-f"></i>
      </a>
      <a class="padded" href="http://pinterest.com/pin/create/link/?https://movingmoran.com/{{page.url}}" rel="nofollow" target="_blank" title="Share on Pinterest">
        <i class="fab fa-pinterest-p"></i>
      </a>

    </h4>
    </div>
  </div>
</section>

<section class="bg-white padded">

    {% for item in page.content-blocks %}
    <div class="cms-editor-link"
        data-cms-editor-link="cloudcannon:#sections[{{ forloop.index0 }}]">
        <span class="cms-editor-button"></span>
      {% include {{item._section-type}}.html %}
    {% endfor %}


</section>
